<html>

<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        
        <ul class="nav navbar-nav">
          <li>
              <form action="/deploy" name="deploy" method="POST">

                <input class="navbar-brand" type="submit" value="Deploy">
    
            </form>
          </li>
          <li class="active">
            <a href="/">Solicitar Tutoria</a>
          </li>
          <li>
            <a href="/getmateria">getMateria( )</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" style="padding:40px;">
      <form action="/" method="post">
        Address del Usuario:<br>
        <input type="text" id="usuario" name="usuario" value="">
        <br>
        Address del Contrato:<br>
        <input type="text" id="address" name="address" value="">
        <br>
        Materia:<br>
        <input type="text" id="materia" name="materia" value="">
        <br>
        Profesor:<br>
        <input type="text" id="profesor" name="profesor" value="">
        <br><br>
        <input type="submit" value="Solicitar">
      </form>
    </div>
  </div>
</body>

</html>